.home-content header {
  height: 100vh;
  background-image: url('../../assets/images/home_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header-content {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: calc(14% + 100px) 10% 0;
}

.header-content h1 {
  font-family: 'Bebas Neue';
  font-size: 3.5vw;
  letter-spacing: 2px;
  margin-bottom: 16px;
}

.header-content h2 {
  font-family: 'Roboto Regular';
  font-size: 1.6vw;
  line-height: 2.4vw;
  letter-spacing: 1px;
}

.header-content button {
  background-color: #E61C23;
  color: #ffffff;
  padding: 16px;
  margin-top: 64px;

  font-family: 'Bebas Neue';
  font-size: 1.8vw;
  font-weight: bold;
  letter-spacing: 2px;
  filter: brightness(90%);
  transition: filter linear 0.2s;
}

.header-content button:hover {
  filter: brightness(100%);
}

.home-content main {
  max-width: 80%;
  margin: 10vh auto;
  background-color: #ffffff;
  box-shadow: 0 0 16px 6px rgba(0, 0, 0, 0.08);
}

.main-title {
  background-color: hsl(358, 80%, 51%);
  padding: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title h3 {
  color: #ffffff;
  font-family: 'Bebas Neue';
  font-size: 2vw;
}

.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  padding: 64px 32px;
}

.comics__item {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.06);
  transition: all linear 0.2s;
}

.comics__item:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.1);
}

.comics__item__title {
  font-family: 'Roboto Medium';
  color: #222222;
  margin-top: 16px;
}

@media (max-width: 1366px) {
  .header-content {
    padding: calc(10% + 100px) 10% 0;
  }

  .header-content h1 {
    font-family: 'Bebas Neue';
    font-size: 4vw;
    letter-spacing: 2px;
  }

  .header-content h2 {
    font-family: 'Roboto Regular';
    font-size: 1.8vw;
    line-height: 2.8vw;
    letter-spacing: 1px;
  }

  .main-title h3 {
    color: #ffffff;
    font-family: 'Bebas Neue';
    font-size: 2.5vw;
  }
}
